* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  color: #222;
}

.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 360px;
  background: #fff;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.login-card h1 {
  text-align: center;
  margin-bottom: 5px;
}

.login-card p {
  text-align: center;
  color: #666;
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  width: 100%;
  padding: 12px;
  background: #0b3d2e;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #09513b;
}

.message {
  margin-top: 15px;
  text-align: center;
  color: red;
}

/* Dashboard */

.dashboard-layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background: #0b3d2e;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.sidebar a:hover {
    background: rgba(255,255,255,0.1);
}

.main-content {
    flex: 1;
    padding: 30px;
    background: #f4f6f8;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 20px;
}

.stat-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.08);
}

.stat-card h3 {
    margin: 0;
    color: #666;
    font-size: 14px;
}

.stat-card p {
    margin-top: 10px;
    font-size: 28px;
    font-weight: bold;
}

.form-card,
.table-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 25px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.08);
}

textarea {
  width: 100%;
  min-height: 90px;
  padding: 12px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 14px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.danger-btn {
  background: #b00020;
}

.success {
  color: green;
}

.error {
  color: red;
}

select {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
}